<div class="container">

    <div *ngIf="listCities else loading" class="md-6 d-flex flex-wrap">
        <div *ngFor="let city of listCities">
            <button class="catList" (click)="getHotelsByCity(city.id)">{{city.name}}
            </button>
        </div>
    </div>

    <div *ngIf="listHotels else loading" class="row">
        <form class="d-flex mt-3 mb-3 col-4 " role="search" [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm)">

            <input class="form-control me-2" type="search" name="keyword" placeholder="Rechercher une ville" aria-label="Search"
                formControlName="newSearch">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search">search</i>
                  </button>
        </form>
    </div>

    <a class="btn btn-primary" role="button" (click)="onAdd()">Ajouter un hôtel</a>
    

    <ng-container >
        <div class="trainingCard">
            <div *ngFor="let hotel of listHotels">
                <div class="container-fluid ">
                    <div class="item product-content">
                        <div>
                            <!-- Item's image -->
                            <div>
                                <img class="img-responsive product-image"
                                    src="http://localhost:8082/api/download/{{hotel.img}}" alt="" (click)="onDetailsHotels(hotel.id)">
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <button class="btn btn-success" *ngIf="onConnectedAsAdmin()"><a >Ajouter une formation</a></button>   -->
    </ng-container>

    <ng-template #loading>
        <div>Aucun hôtel à afficher !!!</div>
    </ng-template>
</div>
