<ng-container *ngIf="hotel">
    <div class="trainingCard">
        <div >
            <div class="container-fluid ">
                <div class="item product-content">
                    <!-- Restaurant Item -->
                    <div>
                        <!-- Item's image -->
                        <div>
                            <img class="img-responsive product-image"
                                src="http://localhost:8082/api/download/{{hotel.img}}" alt="">
                        </div>
                        <!-- Item details -->
                         <div class="item-dtls">
                            Détails de l'hôtel
                            <h4>{{hotel.name}}</h4>
                            <p>{{hotel.address}}</p>
                            <p>{{hotel.city.name}}</p>
                            <p>Nombre d'étoiles : {{hotel.numberStars}}</p>
                            <p>Nombre de chambres disponibles : {{hotel.availableRooms}}</p>
                            
                            <span class="price">${{hotel.price}}</span>
                        </div> 
                        <!-- <a class="btn btn-primary" href="/update" role="button">Modifier</a> -->
                        <div class = "btn-toolbar">
                            <a class="btn btn-primary" role="button" (click)="onUpdate(hotel.id)">Modifier</a>
                            <a class="btn btn-primary" role="button" (click)="onDelete(hotel)">Supprimer</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- <button class="btn btn-success" *ngIf="onConnectedAsAdmin()"><a >Ajouter une formation</a></button>   -->
</ng-container>

