<ng-container *ngIf="hotel">
    <div class="trainingCard">
        <div >
            <div class="container-fluid ">
                <div class="item product-content">
                    <!-- Restaurant Item -->
                    <div>
                        <!-- Item's image -->
                        <div>
                            <img class="img-responsive product-image"
                                src="http://localhost:8082/api/download/{{hotel.img}}" alt="">
                        </div>
                        <!-- Item details -->
                         <div class="item-dtls">
                            Détails de l'hôtel
                            <h4>{{hotel.name}}</h4>
                            <p>{{hotel.address}}</p>
                            <p>{{hotel.city.name}}</p>
                            <p>Nombre de chambres disponibles : {{hotel.availableRooms}}</p>
                          
                            
                            <span class="price">${{hotel.price}}</span>
                        </div> 
                        <!-- add to cart btn -->
                        <!-- <div class="ecom">
                            <input type="number" name="quantity" [(ngModel)]="training.quantity" min="">
                            <a class="cart-button" (click)="onAddToCart(training)">Add to cart</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- <button class="btn btn-success" *ngIf="onConnectedAsAdmin()"><a >Ajouter une formation</a></button>   -->
</ng-container>

